# Kafka
KAFKA_PLAINTEXT_PORT=3011
KAFKA_CONTROLLER_PORT=3012
KAFKA_NODE_ID=1
KAFKA_BROKER_ID=1
KAFKA_PROCESS_ROLES='broker,controller'
KAFKA_CONTROLLER_QUORUM_VOTERS="1@kafka:${KAFKA_CONTROLLER_PORT}"
KAFKA_LISTENERS="PLAINTEXT://kafka:${KAFKA_PLAINTEXT_PORT},CONTROLLER://kafka:${KAFKA_CONTROLLER_PORT}"
KAFKA_ADVERTISED_LISTENERS="PLAINTEXT://kafka1:${KAFKA_PLAINTEXT_PORT}"
KAFKA_LISTENER_SECURITY_PROTOCOL_MAP='CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT'
KAFKA_CONTROLLER_LISTENER_NAMES='CONTROLLER'
KAFKA_INTER_BROKER_LISTENER_NAME='PLAINTEXT'
CLUSTER_ID='EmptNWtoR4GGWx-BH6nGLQ'
KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=3
KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS=0
KAFKA_DEFAULT_REPLICATION_FACTOR=3
KAFKA_MIN_INSYNC_REPLICAS=2
