# Kafka
KAFKA_PLAINTEXT_PORT=3011
KAFKA_CONTROLLER_PORT=3012

KAFKA_LISTENERS=PLAINTEXT://0.0.0.0:3011,CONTROLLER://0.0.0.0:3012
KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://localhost:3011,CONTROLLER://localhost:3012
KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT

KAFKA_PROCESS_ROLES=broker,controller
KAFKA_CONTROLLER_QUORUM_VOTERS=1@localhost:3012
KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER
KAFKA_INTER_BROKER_LISTENER_NAME=PLAINTEXT
KAFKA_NODE_ID=1
KAFKA_BROKER_ID=1
CLUSTER_ID=EmptNWtoR4GGWx-BH6nGLQ
KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
KAFKA_DEFAULT_REPLICATION_FACTOR=1
KAFKA_MIN_INSYNC_REPLICAS=1

